* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #efefe8;
}

/* CSS for MOBILE CONTACT ! */

#titlecontact {
    width: 100%;
    font-family: 'IBM Plex Sans Condensed';
    font-size: xx-large;
    color: #efefe8;
    margin-top: 20%;
    padding: 2%;
    background-color: #98B92C;
}

.address {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 9%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #efefe8;
    border-radius: 30px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
}

input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2%;
    border: none;
    background-color: #efefe8;
    border-bottom: solid #4368AF 1px;
    padding: 2%;
}

textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2%;
    border: none;
    background-color: #efefe8;
    padding: 2%;
    resize: none;
}

.personal-info {
    width: 90%;
    padding: 2%;
}

button {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: large;
    color: #efefe8;
    padding: 3%;
    width: 30%;
    margin-bottom: 10%;
    margin-left: 50%;
    background: linear-gradient(to bottom right, #4368AF, #262681);
    border: none;
    border-radius: 8px;
}

/* CSS for TABLET CONTACT ! */

@media screen and (min-width: 768px) {

    #titlecontact {
        width: 100%;
        font-family: 'IBM Plex Sans Condensed';
        font-size: xx-large;
        color: #efefe8;
        margin-top: 5%;
        padding: 1%;
        background-color: #98B92C;
    }

    .address {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: large;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: 2%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0%;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        background-color: #efefe8;
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        margin-bottom: 2%;
        border: none;
        background-color: #efefe8;
        border-bottom: solid #4368AF 1px;
        padding: 2%;
    }
}

/* CSS for DESKTOP CONTACT ! */